<!-- <div class="container">

    <div>
      <div class="register">
        <a [routerLink]="['../register']">Go to Register</a>
      </div>
  
      <div>
        <mat-card>
          <mat-card-title>Login</mat-card-title>
          <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="login()">
  
              <mat-form-field>
                <input type="email" matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="email.touched && email.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="email.touched && email.hasError('email')">Email must be valid</mat-error>
              </mat-form-field>
  
              <mat-form-field>
                <input type="password" matInput placeholder="Password" formControlName="password">
                <mat-error *ngIf="password.touched && password.hasError('required')">Password is required</mat-error>
              </mat-form-field>
  
              <mat-hint *ngIf="!form.valid"><small>Please fill out all needed information</small></mat-hint>
  
              <div class="button">
                <button mat-button type="submit" [disabled]="!form.valid">Login</button>
              </div>
  
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div> -->

<div class="houses">
    <div class="header">
        <img src="./assets/houses.svg" alt="">
        <div class="header-title">EstateTrack</div>
    </div>
    <form [formGroup]="form" (ngSubmit)="login()" class="login">
        <div class="login-title">
            Вход
        </div>
        <div class="login-field">
            <div class="login-field__title">
                Email
            </div>
            <input formControlName="email" placeholder="ivanov12@ya.ru" class="login-field__input" type="email">
            <mat-error *ngIf="email.touched && email.hasError('required')">Емейл обязателен</mat-error>
            <mat-error *ngIf="email.touched && email.hasError('email')">Емейл должен быть валидным</mat-error>
        </div>
        <div class="login-field">
            <div class="login-field__title">
                Пароль
            </div>
            <input formControlName="password" placeholder="" class="login-field__input" type="password">
            <mat-error *ngIf="password.touched && password.hasError('required')">Пароль обязателен!</mat-error>
        </div>
        <button type="submit" [disabled]="!form.valid" class="login-btn">
            Войти
        </button>
        <div class="login-forgot-pass">
            Забыли пароль?
        </div>
    </form>
</div>